@model IEnumerable<CS305_WebApp.Models.RosterModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roster</h2>
<!--var roster = _dbContext.RosterModel.ToList();-->
<p>
    @Html.ActionLink("Add", "Roster", "Home")
</p>
<u1>
    @foreach(var roster in Model)
    {
        <li>
            @roster.Firstname @roster.Lastname @roster.description
            @Html.ActionLink("Delete","Delete", new { id = roster.ID})
        </li>
    }
</u1>

