@model IEnumerable<CS305_WebApp.Models.RosterModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roster</h2>
<!--var roster = _dbContext.RosterModel.ToList();-->
<p>
    @Html.ActionLink("Add", "Roster", "Home")
</p>
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <th></th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Programs
            </th>
        </tr>
        @{
            int i = 0;
        }
        @foreach (var roster in Model)
        {
            
            string rowColor;
            if (i % 2 == 0)
            {
                rowColor = "info";
            }
            else
            {
                rowColor = "active";
            }

            <tr class="@rowColor">

                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = roster.ID },new { @class = "btn-success btn-sm" })                    <!--, new { onClick = "retrun confirm('Are you sure you want to delete this user: "+ roster.Firstname +""+"');"}-->
                    @Html.ActionLink("Delete", "DoDelete", new { id = roster.ID },new { onclick = "return confirm('Are you sure you want to delete this user: " + roster.Firstname + "" + "');" ,@class="btn-danger btn-sm" })
                </td>
                <td>
                    @roster.Firstname
                </td>
                <td>
                    @roster.Lastname
                </td>
                <td>
                    @roster.description
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
@using (Html.BeginForm("ExportToExcel", "Roster", FormMethod.Post))
{
    <input type="submit" value="Export" />
}


