@model IEnumerable<CS305_WebApp.Models.ProgramModel>
@{
    ViewBag.Title = "ProgramView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProgramView</h2>
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <th></th>
            <th>
                Program
            </th>
            <th>
                Address
            </th>
            <th>
                Phone #
            </th>
            <th>
                Website
            </th>
        </tr>
        @{
            int i = 0;
        }
        @foreach (var program in Model)
        {
            string rowColor;
            if (i % 2 == 0)
            {
                rowColor = "info";
            }
            else
            {
                rowColor = "active";
            }
            <tr class="@rowColor">

                <td>
                    <div class="row">
                    <div class="col-sm-4">
                    @Html.ActionLink("Edit", "Edit", new { id = program.ID }, new { @class = "btn-success btn-sm" })
                    </div>
                    <div class="col-sm-4">
                    <!--, new { onClick = "retrun confirm('Are you sure you want to delete this user: "+ roster.Firstname +""+"');"}-->
                    @Html.ActionLink("Delete", "DoDelete", new { id = program.ID }, new { onclick = "return confirm('Are you sure you want to delete this user: " + program.name + "" + "');", @class = "btn-danger btn-sm" })
                    </div>
                   </div>
                </td>
                <td>
                    @program.name
                </td>
                <td>
                    @program.address
                </td>
                <td>
                    @String.Format("{0:###-###-####}", double.Parse(program.number))
                </td>
                <td>
                  <a href="http://@program.webpage">@program.webpage</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Add", "Add", "Search")
</p>
