@model IEnumerable<CS305_WebApp.Models.ProgramModel>
@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {
        <h1 class="text-primary">  
            <strong>BigLittle Search Engine</strong>
        </h1>
        <br/>
        <div class="col-xs-offset-1 text-center">
        <div class="tfheader">
            <form class="tfnewsearch" method="get" action="@Url.Action("Search","Search")">
                <input type="text" class="tftextinput" name="SearchString" size="21" maxlength="120"><input type="submit" value="search" onclick="@("window.location.href='" + @Url.Action("Index", "Search") + "'");" class="tfbutton">
            </form>
            <div class="tfclear"></div>
        </div>
            </div>
        
    }
    <br/><br/>

    <div class="form-group">
        <h4>Common Searches:</h4>
        <ul class="col-xs-12 text-center">
            <li>@Html.ActionLink("Food >>", "FoodForm", "Search")
            <li>@Html.ActionLink("Housing >>", "HousingForm", "Search")
            <li>@Html.ActionLink("Health >>", "HealthForm", "Search")
        </ul>
    </div>
</div>

